body {
   font-family: var(--inputAndPaymentCardFont);
}

.circleClick {
   font-size: 5em;
   color: var(--mainColor);
}

.subPop {
   background-color: var(--backgroundSecondary) !important;
   border-radius: 15px;
   width: 30em !important;
}


.Back2Home {
   background-color: var(--mainColor) !important;
   border-radius: 0.3em !important;
   color: var(--backgroundSecondary) !important;
   border: 2px solid var(--mainColor);
   transition: all 1s ease;
}

.Back2Home a {
   color: var(--backgroundSecondary) !important;
}

.Back2Home:hover {
   background-color: transparent !important;
   color: var(--mainColor) !important;
   border: 2px solid var(--mainColor) !important;
}

.Back2Home a:hover {
   color: var(--mainColor) !important;
}


.thankPurchase {
   color: var(--mainColor) !important;
   font-size: 1.3em;
}

.log {
   color: var(--mainColor);
}