.navBar h1:nth-child(4) a {
  color: var(--mainColor);
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .navBar h1:nth-child(4) a {
    color: var(--secondMainColor);
    font-weight: bold;
  }
}

.activeSubNav {
  color: var(--mainColor);
  font-weight: bold;
}
.subLine {
  width: 50%;
  margin: auto;
  height: 2px;
  background-color: var(--mainColor);
}
.subnav h1 {
  cursor: pointer;
}
.chooseMenu h1 {
  cursor: pointer;
}
.subnav h1:hover,
.chooseMenu h1:hover {
  color: var(--mainColor);
}
/* .menuBox {
  width: 350px;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--backgroundTertiary);
  box-shadow: var(--cardShadow);
}
.updatedName {
  width: 120px;
  opacity: 0.7;
  margin-left: 0;
}
.updatedInstock {
  width: 50px;
  opacity: 0.7;
  margin-left: 0;
}
.menuBox span {
  font-size: 0.8em;
}
.question {
  font-size: 0.8em;
  margin-top: 0.8em;
}
.bin:hover {
  color: var(--mainColor);
}
@media screen and (max-width: 500px) {
  .menuBox {
    width: 250px;
  }
  .updatedName {
    width: 100px;
  }
} */
.uploadImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.uploadImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.menubox {
  padding: 1.5em;
  background-color: var(--backgroundTertiary);
  box-shadow: var(--cardShadow);
  border-radius: 10px;
}
.updateImage {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: auto;
}
.updateImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productImg {
  height: 90px;
}
.productImg img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}
.action a:nth-child(1) {
  color: green;
}
.action a:nth-child(2) {
  color: red;
}
.table thead {
  display: none;
}
.table,
.table tbody,
.table tr,
.table td {
  display: block;
  width: 100%;
}
.lineTable {
  display: none !important;
}

.table tr {
  margin-bottom: 1.5em;
}
.table tbody tr td {
  text-align: right;
  padding-left: 50%;
  position: relative;
}
.table td:before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  width: 50%;
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
}
tr {
  background-color: var(--backgroundTertiary);
  padding: 0.9em;
  box-shadow: var(--cardShadow);
  border-radius: 10px;
}
@media screen and (max-width: 790px) {
  .table tbody tr td {
    padding-left: unset;
  }
}
@media screen and (max-width: 480px) {
  td {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  tr {
    padding: 0.7em;
  }
  td {
    font-size: 0.7em;
  }
  .productImg img {
    width: 45%;
  }
}
