.navBar h1:nth-child(1) a {
  color: var(--mainColor);
  font-weight: bold;
}

.uicon {
  color: var(--mainColor);
}

@media screen and (max-width: 700px) {
  .navBar h1:nth-child(1) a {
    color: var(--secondMainColor);
    font-weight: bold;
  }
}