.navBar h1:nth-child(3) a {
  color: var(--mainColor);
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .navBar h1:nth-child(3) a {
    color: var(--secondMainColor);
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  input,
  textarea {
    width: 150px;
  }
}
