.navBar h1:nth-child(4) a {
  color: var(--mainColor);
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .navBar h1:nth-child(4) a {
    color: var(--secondMainColor);
    font-weight: bold;
  }
}

.activeSubNav {
  color: var(--mainColor);
  font-weight: bold;
}
.subLine {
  width: 50%;
  margin: auto;
  height: 2px;
  background-color: var(--mainColor);
}
.subnav h1 {
  cursor: pointer;
}
.chooseMenu h1 {
  cursor: pointer;
}
.subnav h1:hover,
.chooseMenu h1:hover {
  color: var(--mainColor);
}
/* .menuBox {
  width: 350px;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--backgroundTertiary);
  box-shadow: var(--cardShadow);
}
.updatedName {
  width: 120px;
  opacity: 0.7;
  margin-left: 0;
}
.updatedInstock {
  width: 50px;
  opacity: 0.7;
  margin-left: 0;
}
.menuBox span {
  font-size: 0.8em;
}
.question {
  font-size: 0.8em;
  margin-top: 0.8em;
}
.bin:hover {
  color: var(--mainColor);
}
@media screen and (max-width: 500px) {
  .menuBox {
    width: 250px;
  }
  .updatedName {
    width: 100px;
  }
} */
.uploadImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 200px;
}
.uploadImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menubox{
  padding: 1.5em;
  background-color: var(--backgroundTertiary);
  box-shadow: var(--cardShadow);
  border-radius: 10px;
}
.updateImage{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: auto;
}
.updateImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.updateName{
  width: 150px ;
  margin-left: unset;
}
.p_stock{
  display: flex;
  justify-content: space-between;
}
.updateInstock{
  width: 50px;
}
.ammount{
  display: flex;
  justify-content: space-between;
}
.ammount input{
  width: 60px;
}
.del {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del p{
  font-size: 0.9em;
}
.del iconify-icon{
  transition: all 0.4s;
}
.del iconify-icon:hover{
  color: var(--mainColor);
}