.navigation ul li:nth-child(8) {
  background: var(--backgroundPrimary);
}
.navigation ul li:nth-child(8) a {
  color: var(--mainColor);
}
.navBar h1 {
  font-size: 1.2em;
  transition: all 0.3s;
  cursor: pointer;
}
.navBar h1:hover,
.navBar a:hover {
  color: var(--mainColor);
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--mainColor);
  box-shadow: 0px 5px 10px var(--mainColor);
}
@media screen and (max-width: 700px) {
  .line {
    display: none !important;
  }
  .navBar h1 a{
    color: var(--textColorPrimary);
  }
  .navBar {
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    height: 80vh;
    background-color: var(--mainColor);
    color: var(--textColorPrimary);
    position: absolute;
    padding: 2.3em;
    top: 2em;
    right: -300px;
    opacity: 0;
    transition: all 0.7s;
    z-index: 111;
  }
  .navBar h1 {
    margin-bottom: 2em;
  }
  .toggleNavBar {
    display: flex !important;
    justify-content: end;
  }
  .navBar h1:hover,
  .navBar a:hover {
    color: var(--secondMainColor);
  }
}
.navBarSlide {
  right: 0;
  opacity: 1;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
a {
  color: var(--textColorSecondary);
}
input,
textarea {
  width: 300px;
  margin-left: 0.8em;
  border: 1px solid var(--mainColor);
  background-color: var(--backgroundTertiary);
  font-size: 0.8em;
  outline: none;
  padding: 0.1em;
}
textarea {
  height: 100px;
}
@media screen and (max-width: 550px) {
  input,
  textarea {
    width: 200px;
    margin-left: 0;
  }
  label {
    font-size: 0.8em;
  }
}
