<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Promotion</title>

  <!-------------------------    GOOGLE FONTS   ------------------------------>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Poppins:wght@200;400&family=Roboto:wght@300;400&family=Ubuntu:ital,wght@1,300;1,400&display=swap"
    rel="stylesheet" />

  <!-------------------------   Iconify   --------------------->
  <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>

  <!------------------------  BOOTSTRAP  --------------------------------------------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <!-----------------------    Jquery   ---------------------------->
  <script src="./lib/Jquery/jquery3.6.0.js"></script>

  <!------------------------   JS   -------------------------------->
  <!-- <script src="./promotion.js" defer></script> -->
  <script src="./resources/js/navigation.js"></script>


  <!------------------------   CSS   ----------------------------->
  <link rel="stylesheet" href="./resources/css/promotion.css" />
  <link rel="stylesheet" href="./resources/css/root.css">


</head>

<body>

  <!------------------  Header Navigation   --------------------->
  <nav class="navbar navbar-expand-lg mx-sm-5 mx-2 ">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">

        <img src="./resources/img/cafeLogo 1.png" height="60px" class="logo">

      </a>
      <div class="d-flex align-items-center mt-1 d-lg-none d-bllock">
        <div class="d-flex align-items-center position-relative">
          <div class=" me-3">
            <iconify-icon icon="material-symbols:search"
              class="p-1 d-flex justify-content-center align-items-center fs-3 searchIcon" data-bs-toggle="modal"
              data-bs-target="#exampleModal"></iconify-icon>
          </div>
          <div class="w-100 rounded-3 userbox d-flex align-items-center justify-content-center">
            <!-- <img src="./img/Ellipse 78.png" width="50px" height="50px" class="rounded-5 userimage"> -->
            <iconify-icon icon="mdi:user-circle" class="userIcon m-1"></iconify-icon>

            <div class="d-flex  align-items-center">
              <p class="mt-3 userText ">New User</p>
              <iconify-icon icon="material-symbols:keyboard-arrow-down" class=" p-1 userdownIcon" width="25"
                height="25"></iconify-icon>

            </div>
            <div class=" w-75 p-3 position-absolute rounded-4 signBox d-none">
              <div class="d-flex justify-content-between mt-2">
                <p class="fw-bold signColor">Sign In</p>
                <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold signColor">Sign Up</p>
                <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
              </div>
            </div>
          </div>

          <iconify-icon icon="fluent:navigation-16-filled" id="responsiveSideBarIcon"></iconify-icon>

        </div>
      </div>

      <!---------------------   dropdown searchBar   --------------------->

      <!-- Modal -->
      <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content searchDropdown">
            <div class="modal-header d-flex justify-content-between border-0">

              <input type="text" placeholder="Search" class="ps-2 searchBox">
              <iconify-icon icon="material-symbols:search" class="fs-3 inputSearchIcon"></iconify-icon>
            </div>

          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="responsiveSideBar">
        <ul class="navbar-nav m-auto ">
          <li class="nav-item">
            <a class="nav-link navtitle" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtitle mx-5" href="#">SHOP</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link navtitle me-5 navtitleActive" href="#">PROMOTIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtitle" href="#">BUY SHOP</a>
          </li>
        </ul>
        <div class="d-flex align-items-center position-relative">
          <div class=" me-4">
            <iconify-icon icon="material-symbols:search"
              class=" p-1 d-flex justify-content-center align-items-center fs-3 searchIcon" data-bs-toggle="modal"
              data-bs-target="#exampleModal"></iconify-icon>
          </div>
          <div class="w-100 rounded-3 userbox d-flex align-items-center justify-content-center">
            <!-- <img src="./img/Ellipse 78.png" width="50px" height="50px" class="rounded-5 userimage"> -->
            <iconify-icon icon="mdi:user-circle" class="userIcon m-1" width="50" height="50"></iconify-icon>

            <div class="d-flex  align-items-center">
              <p class="mt-3 userText">New User</p>
              <iconify-icon icon="material-symbols:keyboard-arrow-down" class=" p-1 userdownIcon" width="25"
                height="25"></iconify-icon>
            </div>
            <div class=" w-75 p-3 position-absolute rounded-4 signBox d-none">
              <div class="d-flex justify-content-between mt-2">
                <p class="fw-bold signColor">Sign In</p>
                <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold signColor">Sign Up</p>
                <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>

  <!-----------------------------   RES side bar   --------------------------->
  <div class="position-absolute top-0 p-5  sideBar d-flex flex-column justify-content-center align-items-center ">
    <iconify-icon icon="fa6-solid:xmark" class="position-absolute" width="30" height="30"
      id="closeSideBar"></iconify-icon>

    <ul class="">
      <li class="nav-item">
        <a class="nav-link navtitle navtitleActive pb-2" aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtitle my-5 pb-2" href="#">SHOP</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navtitle pb-2" href="#">PROMOTIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtitle my-5 pb-2" href="#">BUY SHOP</a>
      </li>
    </ul>
  </div>
  <div class="navLine"></div>

  <!-- ===========================================Hero section================================ -->
  <div class="hero">
      <div class="row">
        <!-- <div class="col-8 herocontent">
          <p class="herotitle">10% Off in this month</p>

          <p>
            <iconify-icon icon="mdi:shop" style="color: #765341;" width="24" height="24"></iconify-icon>
            CJ Cafe
          </p>

          <p>
            <iconify-icon icon="material-symbols:location-on" style="color: #765341;" width="24"
              height="24"></iconify-icon>
            No.98, Pazundaung Road, Yangon
          </p>

          <p>
            <iconify-icon icon="material-symbols:shopping-bag" style="color: #765341;" width="24"
              height="24"></iconify-icon>
            Ice tae with cream
          </p>


        </div> -->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
         
          <div class="carousel-controls">
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>

            <div class="carousel-indicators">

              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-image: url('./resources/img/disitem.png'); background-repeat: no-repeat;"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-image: url('./resources/img/disitem1.png'); background-repeat: no-repeat;"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-image: url('./resources/img/disitem2.png'); background-repeat: no-repeat;"></button>
            
            </div>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
         
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./resources/img/disitem.png" alt="">
              <div class="herocontent">
                <p class="herotitle">10% Off in this month</p>

                <p>
                  <iconify-icon icon="mdi:shop" style="color: #765341;" width="24" height="24"></iconify-icon>
                  CJ Cafe
                </p>

                <p>
                  <iconify-icon icon="material-symbols:location-on" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  No.98, Pazundaung Road, Yangon
                </p>

                <p>
                  <iconify-icon icon="material-symbols:shopping-bag" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  Ice tae with cream
                </p>
              </div>
              
            </div>

            <div class="carousel-item active">
              <img src="./resources/img/disitem1.png" alt="">
              <div class="herocontent">
                <p class="herotitle">10% Off in this month</p>

                <p>
                  <iconify-icon icon="mdi:shop" style="color: #765341;" width="24" height="24"></iconify-icon>
                  CJ Cafe
                </p>

                <p>
                  <iconify-icon icon="material-symbols:location-on" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  No.98, Pazundaung Road, Yangon
                </p>

                <p>
                  <iconify-icon icon="material-symbols:shopping-bag" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  Ice tae with cream
                </p>
              </div>
            </div>

            <div class="carousel-item active">
              <img src="./resources/img/disitem2.png" alt="">
              <div class="herocontent">
                <p class="herotitle">10% Off in this month</p>

                <p>
                  <iconify-icon icon="mdi:shop" style="color: #765341;" width="24" height="24"></iconify-icon>
                  CJ Cafe
                </p>

                <p>
                  <iconify-icon icon="material-symbols:location-on" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  No.98, Pazundaung Road, Yangon
                </p>

                <p>
                  <iconify-icon icon="material-symbols:shopping-bag" style="color: #765341;" width="24"
                    height="24"></iconify-icon>
                  Ice tae with cream
                </p>
              </div>
              
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
    </div>
    


    <!-- =============================================what'new=================================== -->
    <div class="whatwaveImg mt-2"></div>
  </div>


  <div class="whatsection">
    <div class="position-relative mx-sm-5 mx-2 pt-5">
      <div class=" position-absolute w-100 mt-5 pt-lg-5 d-flex flex-md-row justify-content-md-between flex-column justify-content-center align-items-center">
        <div class="scriptleft">
          <h1>What's new</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sunt. Ullam, culpa maiores voluptatem iusto possimus praesentium vel omnis est veniam nihil dolores obcaecati distinctio aliquam ab repudiandae, a quam.</p>

        </div>

        <div class="scriptright">
          <h1>What's new</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sunt. Ullam, culpa maiores voluptatem iusto possimus praesentium vel omnis est veniam nihil dolores obcaecati distinctio aliquam ab repudiandae, a quam.</p>
        </div>

      </div>

      <div class="mt-5 d-flex align-items-center justify-content-center">
        <img src="./resources/img/whatnew.png"  class="whatimg">
      </div>


    </div>

    <div class="search">
      <input type="text">
      <iconify-icon icon="ic:round-search" style="color: blanchedalmond;" width="50" height="50"></iconify-icon>
    </div>

  </div>
  


  <!-- ===========================================Dis product==================================== -->
  <div class="container">
    <p class="subtitle">Discount Products</p>
    <div class="seemore">
      <a href="./promotionmenu.html">see more</a><iconify-icon icon="material-symbols:arrow-forward" style="color: #765341;"
      width="35" height="35"></iconify-icon>
    </div>

    <div class="row">
      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/disp.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/disp1.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/disp2.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/disp3.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- ===========================================Dis Shop ==================================== -->
  <div class="container">
    <p class="subtitle">Discount Shops</p>
    <div class="seemore">
      <a href="./Promotionshopmenu.html">see more</a><iconify-icon icon="material-symbols:arrow-forward"
        style="color: #765341;" width="35" height="35"></iconify-icon>
    </div>

    <div class="row">
      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/shop.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/shop1.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/shop2.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="box">
          <span class="box_ribbon">
          </span>
          <img src="./resources/img/shop3.png" alt="">
        </div>
      </div>
    </div>
  </div>


  <!-- =====================================footer==================================== -->
  <div class="footerImg"></div>
  <div class="footer">
    <div class="footerContainer d-flex mx-sm-5 mx-2 pt-5 mb-4 justify-content-between flex-wrap">
      <div class="footerLogo">
        <img src="./resources/img/footerlogo.png" width="200px">
      </div>
      <div class="navigation">
        <div class="footerTitle">Navigation</div>
        <div class="mt-4 d-flex flex-column footerDetails">
          <a href="#">Home</a>
          <a href="#">Shop</a>
          <a href="#">Promotions</a>
          <a href="#">Buy Shop</a>
        </div>
      </div>

      <div class="someLinks">
        <div class="footerTitle">Some Links</div>
        <div class="mt-4 d-flex flex-column footerDetails">
          <a href="#">FAQS</a>
          <a href="#">User Guide</a>
          <a href="#">Privacy Policy</a>

        </div>
      </div>

      <div class="socialMedia">
        <div class="footerTitle">Social Media</div>
        <div class="mt-4 d-flex footerDetails">
          <a href="#"><iconify-icon icon="ic:baseline-facebook"></iconify-icon></a>
          <a href="#"><iconify-icon icon="ph:instagram-logo-fill"></iconify-icon></a>
          <a href="#"><iconify-icon icon="mdi:github"></iconify-icon></a>

        </div>
      </div>

    </div>

    <div class="copyRight pb-3">
      <div class="w-75 m-auto mb-2"></div>
      <p class="text-center mb-0">Copyright @ design by GroupTwo</p>
    </div>
  </div>
</body>

</html>