<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promotion</title>

    <!-------------------------    GOOGLE FONTS   ------------------------------>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Poppins:wght@200;400&family=Roboto:wght@300;400&family=Ubuntu:ital,wght@1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <!-------------------------   Iconify   --------------------->
    <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>

    <!------------------------  BOOTSTRAP  --------------------------------------------->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>

  <!-----------------------    Jquery   ---------------------------->
  <script src="./resources/js/navigation.js" defer></script>

  <!------------------------   JS   -------------------------------->


    <!------------------------   CSS   ----------------------------->
    <link rel="stylesheet" href="./resources/css/shoplist.css" />
    <link rel="stylesheet" href="./resources/css/root.css">
    

  </head>
  <body>
    <!------------------  Header Navigation   --------------------->
    <nav class="navbar navbar-expand-lg mx-sm-5 mx-2 ">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="#">
           
            <img src="./resources/img/cafeLogo 1.png" height="60px" class="logo">
            
          </a>
            <div class="d-flex align-items-center mt-1 d-lg-none d-bllock">
              <div class="d-flex align-items-center position-relative">
                <div class=" me-3">
                <iconify-icon icon="material-symbols:search" class="p-1 d-flex justify-content-center align-items-center fs-3 searchIcon" data-bs-toggle="modal" data-bs-target="#exampleModal"></iconify-icon>
                 </div>
                 <div class="w-100 rounded-3 userbox d-flex align-items-center justify-content-center">
                   <!-- <img src="./img/Ellipse 78.png" width="50px" height="50px" class="rounded-5 userimage"> -->
                    <iconify-icon icon="mdi:user-circle" class="userIcon m-1"></iconify-icon>
                    
                <div class="d-flex  align-items-center">
                    <p class="mt-3 userText ">New User</p>
                    <iconify-icon icon="material-symbols:keyboard-arrow-down" class=" p-1 userdownIcon" width="25" height="25"></iconify-icon>
                    
                </div>
                <div class=" w-75 p-3 position-absolute rounded-4 signBox d-none">
                  <div class="d-flex justify-content-between mt-2">
                    <p class="fw-bold signColor">Sign In</p>
                    <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="fw-bold signColor">Sign Up</p>
                    <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
                  </div>
                 </div>
              </div>
              
            <iconify-icon icon="fluent:navigation-16-filled" id="responsiveSideBarIcon"></iconify-icon>
           
          </div>
         </div>
        
         <!---------------------   dropdown searchBar   --------------------->

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content searchDropdown">
  <div class="modal-header d-flex justify-content-between border-0">
    
    <input type="text" placeholder="Search" class="ps-2 searchBox">
    <iconify-icon icon="material-symbols:search" class="fs-3 inputSearchIcon"></iconify-icon>
  </div>
  
</div>
</div>
</div>
          <div class="collapse navbar-collapse" id="responsiveSideBar">
            <ul class="navbar-nav m-auto ">
              <li class="nav-item">
                <a class="nav-link navtitle" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navtitle mx-5" href="#">SHOP</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link navtitle me-5 navtitleActive" href="#">PROMOTIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navtitle" href="#">BUY SHOP</a>
              </li>
            </ul>
            <div class="d-flex align-items-center position-relative">
                <div class=" me-4">
                <iconify-icon icon="material-symbols:search" class=" p-1 d-flex justify-content-center align-items-center fs-3 searchIcon"  data-bs-toggle="modal" data-bs-target="#exampleModal"></iconify-icon>
                </div>
                <div class="w-100 rounded-3 userbox d-flex align-items-center justify-content-center">
                  <!-- <img src="./img/Ellipse 78.png" width="50px" height="50px" class="rounded-5 userimage"> -->
                    <iconify-icon icon="mdi:user-circle" class="userIcon m-1" width="50" height="50"></iconify-icon>
                    
                <div class="d-flex  align-items-center">
                    <p class="mt-3 userText">New User</p>
                    <iconify-icon icon="material-symbols:keyboard-arrow-down" class=" p-1 userdownIcon" width="25" height="25"></iconify-icon>
                </div>
                <div class=" w-75 p-3 position-absolute rounded-4 signBox d-none">
                  <div class="d-flex justify-content-between mt-2">
                    <p class="fw-bold signColor">Sign In</p>
                    <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="fw-bold signColor">Sign Up</p>
                    <iconify-icon icon="material-symbols:arrow-circle-right" class="fs-3 signIcon"></iconify-icon>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </nav>

      <!-----------------------------   RES side bar   --------------------------->
      <div class="position-absolute top-0 p-5  sideBar d-flex flex-column justify-content-center align-items-center ">
        <iconify-icon icon="fa6-solid:xmark" class="position-absolute" width="30" height="30" id="closeSideBar"></iconify-icon>
        
        <ul class="">
            <li class="nav-item">
              <a class="nav-link navtitle navtitleActive pb-2" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navtitle my-5 pb-2" href="#">SHOP</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link navtitle pb-2" href="#">PROMOTIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navtitle my-5 pb-2" href="#">BUY SHOP</a>
            </li>
          </ul>
      </div>
      <div class="navLine"></div>

      <section id="hero">
        
          <div class="row">
            <div class="col-md-6 ">
              <div class="text-label">
                Coffee the best for You.........
              </div>

              <div class="text-hero-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nemo laboriosam, modi delectus temporibus exercitationem nulla quas sapiente facilis nostrum, excepturi quo neque, veritatis dignissimos odio! Dolor voluptas delectus nesciunt!
              </div>
            </div>

            <div class="col-md-6">
              <img src="./resources/img/shoplisthero.png" alt="">
            </div>
          </div> 
      </section>

     <!-- =================================================================== trending food and cake ======================================================================== -->
      <section id="tending">
          <h1 class="title fw-bold position-relative pb-2">Tending Food & Cake</h1>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img src="./resources/img/pshop2.png" alt="">
                <div class="script">
                  
                  <span class="infor">CJ Cafe</span>
  
                  <div class="icon"> 
                    <span class="price fw-bold">2000MMK</span>
                    <iconify-icon icon="icon-park-solid:shopping-cart" style="color: #765341;" width="30" height="30"></iconify-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="rightseemore">See more</button>
      </section>

<!-- ==============================================trending shop ============================================ -->
      <section id="tshop">
        <h1 class="title fw-bold position-relative pb-2">Tending Shop</h1>

        <div class="mx-sm-5 mx-2 pt-5 row">
          
          <div class="col-lg-6 ">
            <div class="h-75 ">
              <img class="aboutImage" src="./resources/img/trendshop.png" height="100%" width="100%">
            </div>
          </div>

          <div class="col-lg-6 ">
            <p class="subtitle position-relative">Reason Cafe</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi itaque odio cupiditate odit accusamus ad?
              ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>

            <p class="subtitle position-relative">Popular</p>
            <div class="poularphoto">
                <img src="./resources/img/popular_p.png" alt="">
                <img src="./resources/img/popular_p1.png" alt="">
                <img src="./resources/img/popular_p2.png" alt="">
                <img src="./resources/img/popular_p3.png" alt="">
            </div>
            <div class="mt-5">
              <button class="rightseemore">See More</button>
            </div>
          </div>
        </div>
      
        <div class="mx-sm-5 mx-2 pt-5 row">

          <div class="col-lg-6 ">
            <p class="subtitle position-relative">Reason Cafe</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi itaque odio cupiditate odit accusamus ad?
              ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>

            <p class="subtitle position-relative">Popular</p>
            <div class="poularphoto">
                <img src="./resources/img/popular_p.png" alt="">
                <img src="./resources/img/popular_p1.png" alt="">
                <img src="./resources/img/popular_p2.png" alt="">
                <img src="./resources/img/popular_p3.png" alt="">
            </div>

              <button class="leftseemore">See More</button>
          </div>


          <div class="col-lg-6 ">
            <div class="h-75 ">
              <img class="aboutImage" src="./resources/img/trendshop1.png" height="100%" width="100%">
            </div>
          </div>



        </div>

        <div class="mx-sm-5 mx-2 pt-5 row">
          
          <div class="col-lg-6 ">
            <div class="h-75 ">
              <img class="aboutImage" src="./resources/img/trendshop2.png" height="100%" width="100%">
            </div>
          </div>

          <div class="col-lg-6 ">
            <p class="subtitle position-relative">Reason Cafe</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi itaque odio cupiditate odit accusamus ad?
              ipsum dolor sit, amet consectetur adipisicing elit. 
            </p>

            <p class="subtitle position-relative">Popular</p>
            <div class="poularphoto">
                <img src="./resources/img/popular_p.png" alt="">
                <img src="./resources/img/popular_p1.png" alt="">
                <img src="./resources/img/popular_p2.png" alt="">
                <img src="./resources/img/popular_p3.png" alt="">
            </div>
            <div class="mt-5">
              <button class="rightseemore">See More</button>
            </div>
          </div>
        </div>
      </section>

      <button class="tseemore">See More</button>



      <!-- ===============================================footer======================================================= -->
      <div class="footerImg"></div>
      <div class="footer">
        <div class="footerContainer d-flex mx-sm-5 mx-2 pt-5 mb-4 justify-content-between flex-wrap">
          <div class="footerLogo">
            <img src="./resources/img/footerlogo.png" width="200px">
          </div>
          <div class="navigation">
            <div class="footerTitle">Navigation</div>
            <div class="mt-4 d-flex flex-column footerDetails">
              <a href="#">Home</a>
              <a href="#">Shop</a>
              <a href="#">Promotions</a>
              <a href="#">Buy Shop</a>
            </div>
          </div>
    
          <div class="someLinks">
            <div class="footerTitle">Some Links</div>
            <div class="mt-4 d-flex flex-column footerDetails">
              <a href="#">FAQS</a>
              <a href="#">User Guide</a>
              <a href="#">Privacy Policy</a>
    
            </div>
          </div>
    
          <div class="socialMedia">
            <div class="footerTitle">Social Media</div>
            <div class="mt-4 d-flex footerDetails">
              <a href="#"><iconify-icon icon="ic:baseline-facebook"></iconify-icon></a>
              <a href="#"><iconify-icon icon="ph:instagram-logo-fill"></iconify-icon></a>
              <a href="#"><iconify-icon icon="mdi:github"></iconify-icon></a>
    
            </div>
          </div>
    
        </div>
    
        <div class="copyRight pb-3">
          <div class="w-75 m-auto mb-2"></div>
          <p class="text-center mb-0">Copyright @ design by GroupTwo</p>
        </div>
      </div>


      </body>

</html>