body{
    font-family: var(--inputAndPaymentCardFont);
 }
 
 .circleClick{
    font-size: 5em;
    color: var(--mainColor);
 }
 
 .subPop{
    background-color: var( --backgroundSecondary) !important;  
    border-radius: 15px;
    width: 25em !important;
 }
 
  
 .Back2Home{
    background-color: var(--mainColor) !important; 
    border-radius: 0.3em !important;
 }