.back {
  background-color: var(--backgroundSecondary);
}

.login {
  background-color: var(--mainColor) !important;
}

.divbox {
  position: relative;
  width: 20em;
  margin: auto;
}

.box {
  width: 100% !important;
  height: 2.8em !important;
  border-style: none;
  border-radius: 15em !important;
  background-color: var(--backgroundSecondary) !important;
  color: var(--mainColor) !important;
  padding-left: 0.5em;
  font-family: var(--inputAndPaymentCardFont) !important;
}

.letter {
  font-family: var(--inputAndPaymentCardFont);
}

.forgot {
  font-size: var(--subTitleFontSize);
  color: var(--backgroundSecondary);
  font-family: var(--inputAndPaymentCardFont);
}

.button {
  width: 8em;
  height: 2.5em;
  background-color: var(--backgroundSecondary);
  font-family: var(--inputAndPaymentCardFont);
  border-radius: 0.3em;
  border: 2px solid var(--secondMainColor);
  font-size: var(--paragraphFontSize);
  transition: all 0.5s;
}
.button:hover {
  background-color: transparent;
}

.button a {
    text-decoration: none;
  color: var(--mainColor);
}
.button:hover a {
  color: var(--secondMainColor);
}
.getotp {
  width: 6em;
  height: 2.4em;
  border-radius: 0.4em;
  background-color: var(--mainColor);
  color: var(--backgroundSecondary);
  border-style: none;
  position: absolute;
  right: 0.6em;
  top: 0.2em;
}

.box::placeholder {
  color: var(--mainColor);
}

.box1::placeholder {
  color: var(--mainColor);
}

.forgot {
  font-size: var(--subTitleFontSize);
  color: var(--backgroundSecondary);
  font-family: var(--inputAndPaymentCardFont);
}

@media screen and (max-width: 375px) {
  .divbox {
    width: 18em !important;
  }
}
