
/* Navigation CSS */

.navtitle{
    font-family: var(--navigationFont);
    font-size: var(--navigationFontSize);
    position: relative;
    padding-left: 0 !important;
}
.navtitle::before, .navtitleActive::before{
    content: '';
    width: 0; 
    height: 3px;
    background-color: var(--mainColor);
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.5s;
}
.navtitleActive::before{
    width: 50px;
}

.navtitle::after, .navtitleActive::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0; 
    left: 0;
    transition: all 0.5s;
}
.navtitleActive::after{
    width: 30px;
}
.navtitle:hover::before{
    width: 50px;
}
.navtitle:hover::after{
    width: 30px;
}
.searchIcon{
    background-color: var(--mainColor);
    color: var(--secondMainColor);
    border-radius: 50%;
    transition: all 0.4s;
}
.searchIcon:hover{
    opacity: 0.7;
}
.userIcon, .userdownIcon{
    color: var(--secondMainColor);
}
.userText{
    color: var(--textColorPrimary);
}
.userbox{
    background-color: var(--mainColor);
}
.navLine{
    width: 100%;
    height: 1px;
    background-color: var(--mainColor);
}
.userimage{
    margin: 0.4em;
}
 /* responsive side bar */

.sideBar{
    background-color: var(--backgroundTertiary);
    height: 100vh;
    box-shadow: var(--cardShadow);
    right: -400px;
    opacity: 0;
    transition: all 0.7s;
}
.sideBarChange{
    right: 0;
    opacity: 1;
}
#closeSideBar{
    top: 10px;
    right: 10px;
    transition: all 0.4s;
}
#closeSideBar:hover{
    color: var(--mainColor);
    transform: rotate(360deg);
}
#responsiveSideBarIcon{
    font-size: 2.3em;
    margin-left: 0.4em;
}
.userIcon{
    font-size: 2.2em;
}
@media screen and (max-width:470px) {
    .logo{
        height: 40px;
    }
    #responsiveSideBarIcon {
        font-size: 1.7em;
    }
    .userIcon {
        font-size: 1.7em;
    }
    .userText{
        font-size: 0.7em;
    }
    .searchIcon{
        font-size: 1em;
    }
}
.searchDropdown{
    background-color: var(--mainColor);
}
.searchBox{
    border: none;
    outline: none;
    width:80%;
    color: var(--textColorPrimary);
    background-color: transparent;
    border-bottom: 1px solid var(--textColorSecondary);
}
.searchBox::placeholder {
    color: var(--textColorPrimary);
    opacity: 0.7;
}
.inputSearchIcon{
    color: var(--secondMainColor);
}
.signColor{
    color: var(--textColorPrimary);
    font-family: var(--titleFont);
}
.signIcon{
    color: var(--secondMainColor);
}
.signBox{
    background-color: var(--mainColor);
    right: 0;
    top: 80px;
}
.signBox::after{
    content: '';
    width:25px;
    height:25px;
    background-color: var(--mainColor);
    position: absolute;
    top: -11px;
    left:0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}


/* hero */
#Hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background:linear-gradient(120deg,#FFFFFF,#765341) ;

}

@media screen and (max-width:992px) {
    .signBox {
        right: unset !important;
    }
}
/* ========================Shop========================== */

 h1{
    margin-top: 50px;
    margin-left: 80px;
    color: var(--mainColor);
 }
 
.container{
    margin: 55px;
}

.card{
    width:250px ;
    height:350px;
    border-radius: 30px;
    background-color:var(--mainColor);
    margin-bottom: 100px;
}
.card img{
    height: 200px;
    width: 250px;
    border-radius: 30px 30px 0 0;
    margin-bottom: 10px;
}

.card_ribbon{
    width: 12em;
    height: 12em;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card_ribbon::after{
    content: '10 % Off';
    position: absolute;
    width: 100%;
    height: 2em;
    background-color: var(--mainColor);
    transform: rotate(-45deg) translateY(-4.4em);
    font-family: var(--titleFont);
    font-size: var(--paragraphFontSize);
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color:var(--textColorPrimary);
    font-weight: 600;
    letter-spacing: 0.1em;

    box-shadow: 0 0.3em 0.6em rgba(0,0,0,0.2);
}

.card .script{
    margin-bottom: 50px;
}
.icon .sinfor{
    font-size: var(--navigationFontSize);
    color: var(--secondMainColor);
}

.card button{
    position: absolute;
    left: 45px;
    bottom: 8px;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border:none;
    font-size: var(--navigationFontSize);
    color: var(--mainColor);
    background-color: var(--backgroundSecondary);

}

.card button:hover{
    background-color: var(--mainColor);
    color: var(--backgroundSecondary);
}

.line{
    width: 90%;
    height: 2px;
    background-color: var(--mainColor);
    box-shadow: 0 10px 20px rgba( 0,0,0,0.8);
    margin: auto;
    margin-bottom: 50px;
 }

 
@media screen and (max-width:1171px){
    .card{
       margin-bottom: 120px;
    }
    
    .container{
       padding: 5%;
    }
 }
 
 
 @media screen and (max-width:990px){
    h1{
       display: flex;
       justify-content: center;
    }

 
    .container{
       padding: 25%;
    }
    
    .card{
       margin-bottom: 120px;
    }
 
    .row{
       margin-bottom: 0px;
    }

 }
 