.promobody{
   background-color: var(--backgroundSecondary);
}
/* Navigation CSS */

.navtitle{
   font-family: var(--navigationFont);
   font-size: var(--navigationFontSize);
   position: relative;
   padding-left: 0 !important;
}
.navtitle::before, .navtitleActive::before{
   content: '';
   width: 0; 
   height: 3px;
   background-color: var(--mainColor);
   position: absolute;
   left: 0;
   bottom: 5px;
   transition: all 0.5s;
}
.navtitleActive::before{
   width: 50px;
}

.navtitle::after, .navtitleActive::after{
   content: '';
   width: 0;
   height: 3px;
   background-color: var(--mainColor);
   position: absolute;
   bottom: 0; 
   left: 0;
   transition: all 0.5s;
}
.navtitleActive::after{
   width: 30px;
}
.navtitle:hover::before{
   width: 50px;
}
.navtitle:hover::after{
   width: 30px;
}
.searchIcon{
   background-color: var(--mainColor);
   color: var(--secondMainColor);
   border-radius: 50%;
   transition: all 0.4s;
}
.searchIcon:hover{
   opacity: 0.7;
}
.userIcon, .userdownIcon{
   color: var(--secondMainColor);
}
.userText{
   color: var(--textColorPrimary);
}
.userbox{
   background-color: var(--mainColor);
}
.navLine{
   width: 100%;
   height: 1px;
   background-color: var(--mainColor);
}
.userimage{
   margin: 0.4em;
}
/* responsive side bar */

.sideBar{
   background-color: var(--backgroundTertiary);
   height: 100vh;
   box-shadow: var(--cardShadow);
   right: -400px;
   opacity: 0;
   transition: all 0.7s;
}
.sideBarChange{
   right: 0;
   opacity: 1;
}
#closeSideBar{
   top: 10px;
   right: 10px;
   transition: all 0.4s;
}
#closeSideBar:hover{
   color: var(--mainColor);
   transform: rotate(360deg);
}
#responsiveSideBarIcon{
   font-size: 2.3em;
   margin-left: 0.4em;
}
.userIcon{
   font-size: 2.2em;
}
@media screen and (max-width:470px) {
   .logo{
       height: 40px;
   }
   #responsiveSideBarIcon {
       font-size: 1.7em;
   }
   .userIcon {
       font-size: 1.7em;
   }
   .userText{
       font-size: 0.7em;
   }
   .searchIcon{
       font-size: 1em;
   }
}
.searchDropdown{
   background-color: var(--mainColor);
}
.searchBox{
   border: none;
   outline: none;
   width:80%;
   color: var(--textColorPrimary);
   background-color: transparent;
   border-bottom: 1px solid var(--textColorSecondary);
}
.searchBox::placeholder {
   color: var(--textColorPrimary);
   opacity: 0.7;
}
.inputSearchIcon{
   color: var(--secondMainColor);
}
.signColor{
   color: var(--textColorPrimary);
   font-family: var(--titleFont);
}
.signIcon{
   color: var(--secondMainColor);
}
.signBox{
   background-color: var(--mainColor);
   right: 0;
   top: 80px;
}
.signBox::after{
   content: '';
   width:25px;
   height:25px;
   background-color: var(--mainColor);
   position: absolute;
   top: -11px;
   left:0;
   right: 0;
   margin: auto;
   transform: rotate(45deg);
}




@media screen and (max-width:992px) {
   .signBox {
       right: unset !important;
   }
}

/* ------------------------------little nav------------------------------ */
.btn{
   float: right;
   margin-right: 60px;
   border-style: none;
}

.btn .choose{
   margin-left: 20px;
   padding: 30px;
   border-style: none;
   background-color: var(--backgroundSecondary);

}

.btn .choose a{
   display: inline-block;
   text-decoration: none;
   color: var(--mainColor);
}

.activechoose{
   background-image: radial-gradient(closest-side,var(--mainColor), var(--backgroundSecondary));
}

.btn .choose:hover{
   background-image: radial-gradient(closest-side,var(--mainColor), var(--backgroundSecondary));
}

.btn .choose a:hover{
   color: var(--backgroundSecondary);
}

/* ======================================Product===================================== */

.row{
   margin-bottom: 150px;
}

h1{
   margin-top: 50px;
   margin-left: 80px;
   color: var(--mainColor);
}

.container{
   width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card{
   position: relative;
   width: 250px;
   height: 200px;
   background: linear-gradient(135deg, rgba(255,255,255),rgba(217,217,217,0.17));
   border: solid var(--textColorPrimary);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   box-shadow: 1px 1px 2px;
   z-index: -1;
}

.disticket {
   padding: 0 0 10px 10px;
   font-size: var(--subTitleFontSize);
   color: var(--textColorPrimary);
   width: 75px;
   height: 36px;
   top: 40px;
   left: -24px;
   border-radius: 5px;
   background-color:var(--mainColor);
   position: absolute;
   z-index: -1;
}

.distickettri{
   position: absolute;
    border: 18px solid transparent;
    border-left-color: var(--mainColor);
    top: 40px;
    left: 48px;
    z-index: -1;
}

.carditems img{
   position:absolute;
   left:48px;
   top: -75px;
}


.carditems p{
   font-size: var(--subTitleFontSize);
   color: var(--mainColor);
   margin-top: 80px;
   margin-left: 20px;
}

.carditems .pbtn{
   margin-left: 22%;
   margin-bottom: 5px;
}

.carditems .pbtn button{
   width: 34px;
   height: 34px;
   background-color: var(--mainColor);
   border: none;
   border-radius: 10px;
   padding: 4px;
   margin-left: 20px;
}

.price{
   width: 110px;
   height: 40px;
   border-radius: 30px;
   padding: 5px 0px 0px 10px;
   background-color: var(--mainColor);
   font-size: var(--navigationFontSize);
   color: var(--textColorPrimary);
   font-family:var(--titleFont);
   position: absolute;
   left: 66px;
}

.line{
   width: 90%;
   height: 2px;
   background-color: var(--mainColor);
   box-shadow: 0 10px 20px rgba( 0,0,0,0.8);
   margin: auto;
   margin-bottom: 50px;
}


@media screen and (max-width:1171px){
   .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 200px;
   }
   .btn .choose{
      padding: 30px;
      border-style: none;
      background-color: var(--backgroundSecondary);
   
   }
   .card{
      margin-bottom: 120px;
   }
   
   .container{
      padding: 5%;
   }
}


@media screen and (max-width:990px){
   h1{
      display: flex;
      justify-content: center;
   }

   .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 500px;
   }


   .container{
      padding: 25%;
   }
   
   .card{
      margin-bottom: 120px;
   }

   .row{
      margin-bottom: 0px;
   }
}
