#responsiveSideBar ul li:nth-child(2) a::before {
  width: 50px;
}

#responsiveSideBar ul li:nth-child(2) a::after {
  width: 30px;
}

.shoptitle::before {
  width: 50px;
}

.shoptitle::after {
  width: 30px;
}

/* ======================hero css========================= */

.text-label,
.text-hero-regular {
  margin-left: 100px;
}

.text-label {
  font-size: var(--titleFontSize);
  color: var(--mainColor);
  font-family: var(--titleFont);
  line-height: 32px;
  margin-top: 30%;
  margin-bottom: 40px;
}

.text-hero-regular {
  font-size: var(--paragraphFontSize);
  color: var(--mainColor);
  font-family: var(--paragraphFont);
}

#tending h1,
#tshop h1 {
  text-align: center;
}

.title {
  margin-bottom: 50px;
}

.title::before {
  content: "";
  width: 300px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.5s;
  right: 0;
  margin: auto;
}

.title::after {
  content: "";
  width: 280px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
  right: 0;
  margin: auto;
}

.shopContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10;
}

.card {
  width: 250px;
  height: 300px;
  border-radius: 30px;
  background-color: var(--mainColor);
  margin-bottom: 100px;
  margin-left: 55px;
  transition: all 0.8s ease;
}

.card img {
  margin-left: 3em;
  margin-top: 1em;
  width: 60%;
  border-radius: 30px 30px 0 0;
  margin-bottom: 1em;
}

.card:hover {
  transform: scale(1.2);
}



.infor {
  font-size: var(--navigationFontSize);
  color: var(--textColorPrimary);
  position: absolute;
  left: 88px;
}

.icon .price {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 35px;
  border-radius: 30px;
  padding: 5px 0 1px 14px;
  color: var(--mainColor);
  background-color: var(--backgroundSecondary);
  bottom: 15px;
  left: 20px;
}

.icon iconify-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  padding: 2px;
  background-color: var(--backgroundSecondary);
  bottom: 15px;
  right: 40px;
  color: var(--mainColor);
  transition: all 0.5s;
}

.icon iconify-icon:hover {
  transform: scale(1.1);
}

.rightseemore {
  width: 150px;
  height: 40px;
  float: right;
  margin-right: 10%;
  font-size: var(---subTitleFontSize);
  font-family: var(--paragraphFont);
  border-radius: 10px;
  background-color: var(--mainColor);
  color: var(--textColorPrimary);
  border-style: none;
  padding: 4px;
  border: 1.5px solid var(--mainColor);
}

/* ===========================================trending shop====================================================  */
#tshop {
  clear: both;
}

#tshop .subtitle {
  font-size: var(--titleFontSize);
  margin-bottom: 35px;
}

.subtitle::before {
  content: "";
  width: 250px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.5s;
}

.subtitle::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.poularphoto img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-left: 5%;
}

.tseemore {
  display: flex;
  margin: auto;
  width: 150px;
  height: 40px;
  font-size: var(---subTitleFontSize);
  font-family: var(--paragraphFont);
  border-radius: 10px;
  background-color: var(--mainColor);
  color: var(--textColorPrimary);
  border-style: none;
  padding: 8px 0 0 40px;
  border: 1.5px solid var(--mainColor);
}

#tshop .leftseemore {
  width: 150px;
  height: 40px;
  float: left;
  margin-right: 10%;
  margin-top: 8%;
  font-size: var(---subTitleFontSize);
  font-family: var(--paragraphFont);
  border-radius: 10px;
  background-color: var(--mainColor);
  color: var(--textColorPrimary);
  border-style: none;
  padding: 4px;
  border: 1.5px solid var(--mainColor);
}

.container {
  max-width: unset !important;
}

#tshop .leftseemore:hover,
.tseemore:hover,
.rightseemore:hover {
  background-color: transparent;
  color: var(--mainColor);
  border: 1.5px solid var(--mainColor);
}

@media screen and (max-width: 440px) {
  .card img {
    width: 60%;
  }

  .card {
    width: 300px;
    margin-left: 0;
  }
}

@media screen and (max-width: 950px) {
  .shopContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .shopContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 760px) {

  .text-label,
  .text-hero-regular {
    margin-left: 30px;
  }

  .text-label {
    margin-top: 15%;
  }

  .card {
    height: 330px;
  }

  .icon .price {
    margin-left: 1em;
  }

  .icon {
    margin-bottom: 1em;
  }

  .icon iconify-icon {
    margin-right: 1em;
  }
}