.navLine{
    width: 100%;
    height: 1px;
    background-color: var(--mainColor);
}
.backIcon a{
    color: var(--mainColor)
}
#package, #township, #payment{
    width: 90%;
    padding: 0.4em;
    border-color: var(--mainColor);
}
.inputFill{
    width: 90%;
    padding: 0.4em;
    margin-top: 2em;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--mainColor);
}
.township, .payment{
    margin-top: 2em;
}

.submitBtn button{
    width: 180px;
    border-radius: 10px;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: var(--textColorPrimary);
    transition: all 0.5s;
}
.submitBtn button:hover{
    background-color: transparent;
    color: var(--mainColor);
}
.wrong{
    color: var(--wranningColor);
}
