body {
  background-color: var(--backgroundTertiary);
  font-family: var(--paragraphFont);
}

#responsiveSideBar ul li:nth-child(1) a::before {
  width: 50px;
}

#responsiveSideBar ul li:nth-child(1) a::after {
  width: 30px;
}

.hometitle::before {
  width: 50px;
}

.hometitle::after {
  width: 30px;
}

/* .backgroundCafeImage1 {
  background: url(../img/jjcafe.jpg);
}

.backgroundCafeImage2 {
  background: url(../img/jjshop.jpg);
}

.backgroundCafeImage3 {
  background: url(../img/menu.jpg);
} */

.backImage {
  width: 100%;
  height: 87vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--backgroundPrimary);
}

.swiper-pagination-bullet-active {
  background-color: var(--paginationColor);
}


.mySwiper1 {
  position: unset !important;
}

@media screen and (max-width: 470px) {
  .backImage p {
    font-size: 0.8em;
  }

  .seemoreBtn {
    width: 150px;
    font-size: 0.8em;
  }
}

.title::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.5s;
}

.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.aboutImage {
  object-fit: contain;
}

@media screen and (max-width: 470px) {
  .aboutSection p {
    font-size: 0.8em;
  }
}

.serviceSection .title::before,
.serviceSection .title::after,
.contactSection .title::before,
.contactSection .title::after,
.customerSection .title::before,
.customerSection .title::after {
  left: 0;
  right: 0;
  margin: auto;
}

.serviceBox {
  margin-top: 1.5em;
  width: 270px;
  padding: 1em;
  background-color: var(--mainColor);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.serviceBox iconify-icon {
  font-size: 2em;
  color: var(--textColorPrimary);
}

.serviceBox span {
  color: var(--textColorPrimary);
}

@media screen and (max-width: 768px) {
  .serviceImage {
    margin-top: 6em;
    width: auto;
    height: 100%;
  }
}

/**
today menu
**/

.box1 {
  background-color: var(--secondMainColor);
}

.discountCardContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6em;
  margin-bottom: 5em;
}


.disCard {
  position: relative;
  width: 250px !important;
  height: 210px;
  background: linear-gradient(135deg,
      rgba(255, 255, 255),
      rgba(217, 217, 217, 0.17));
  border: solid var(--textColorPrimary);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 1px 1px 2px;
  margin-bottom: 6.5em;
  cursor: pointer;
  transition: all 0.5s;
}

.disticket {
  /* padding: 0 0 10px 10px; */
  /* font-size: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColorPrimary);
  width: 75px;
  height: 36px;
  top: 40px;
  left: -24px;
  border-radius: 5px;
  background-color: var(--mainColor);
  position: absolute;
  z-index: -1;
}

.distickettri {
  position: absolute;
  border: 18px solid transparent;
  border-left-color: var(--mainColor);
  top: 40px;
  left: 48px;
  z-index: -1;
}

.disphoto {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 0;
  right: 0;
  top: -75px;
  margin: auto;
  transition: all 0.5s;
}

.disphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.carditems p {
  font-size: var(--subTitleFontSize);
  color: var(--mainColor);
  margin-top: 80px;
  margin-left: 20px;
}

.carditems .disbtn {
  margin-left: 22%;
  margin-bottom: 5px;
}

.carditems .disbtn button {
  width: 34px;
  height: 34px;
  background-color: var(--mainColor);
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin-left: 20px;
  transition: all 0.5s;
}

.disbtn iconify-icon {
  color: var(--secondMainColor);
}

.disbtn button:hover {
  transform: scale(1.1);
}

.disprice {
  width: 120px;
  height: 40px;
  padding: 0.5em;
  border-radius: 30px;
  /* padding: 5px 0px 0px 10px; */
  background-color: var(--mainColor);
  text-align: center;
  color: var(--textColorPrimary);
  font-family: var(--titleFont);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}


.maincard {
  /* display: flex; */
  position: relative;
  /* flex-wrap: wrap; */
}

.card {
  margin: 5em 6em 4em 9em;
  width: 12.4em;
  height: 11em;
  background: linear-gradient(120.9deg, #FFFFFF 0%, rgba(217, 217, 217, 0.34) 97.57%);
  border-radius: 0.8em;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover,
.disCard:hover {
  transform: scale(1.2);
}

.img {
  position: absolute;
  top: -3em;
  left: 2.7em;
  transition: all 1s;
}

.card:hover .img,
.disCard:hover .disphoto img {
  transform: rotate(360deg);
}

.text {
  margin-top: 2em;
  color: var(--mainColor);
}


.minibox {
  display: flex;
  justify-content: space-evenly;
}

.pbtn {
  margin-top: 1em;
}

.pbtn button {
  width: 2em;
  height: 2em;
  background-color: var(--mainColor);
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin-left: 20px;
  transition: all 0.5s;
}

.pbtn button:hover,
.disbtn button:hover {
  transform: scale(1.2);
}


.price {
  width: 6em;
  height: 1.6em;
  border-radius: 8em;
  background-color: var(--mainColor);
  font-size: var(--navigationFontSize);
  color: var(--textColorPrimary);
  font-family: var(--titleFont);
  position: absolute;
  top: 8em;
  left: 2em;
  color: var(--secondMainColor);
}




.swiper-pagination-bullets .swiper-pagination-bullet {
  border: 1px solid var(--mainColor) !important;
}

.minibox {
  display: flex;
  justify-content: space-evenly;
}

.menubox {
  background-color: var(--secondMainColor);
  display: flex;
  flex-direction: column;
  position: relative;
}

.textbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.seeall {
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: var(--navigationFontSize);
  color: var(--mainColor);
}

.seeall:hover {
  color: var(--mainColor);
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.blogcard {
  width: 24em;
  height: auto;
  background-color: transparent;
  border-radius: 0.5em;
  transition: all 1s;
}

.blogcard:hover {
  transform: scale(1.1);
}

.text1 {
  font-family: var(--titleFont);
}

.text2 {
  font-family: var(--paragraphFont);
  line-height: 1.5;
}

.body {
  background-color: var(--backgroundTertiary);
}

.icon {
  color: var(--mainColor);
  font-size: 1.5em;
}

.day {
  display: flex;
}

.date {
  font-size: 1em;
  color: var(--mainColor);
}

.like {
  font-size: 1em;
  color: var(--mainColor);
}

.readBtn {
  margin-top: 1.2em;
}

.readBtn button {
  width: 150px;
  background-color: var(--mainColor);
  border-radius: 10px;
  border: 2px solid var(--mainColor);
  color: var(--secondMainColor);
  font-weight: bold;
  transition: all 0.5s;
}

.readBtn button:hover {
  background-color: transparent;
  color: var(--mainColor);
}

.Hoimg:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.blogslide {
  display: flex;
  flex-wrap: wrap;
}

/**
ContactUs
**/
.subTitle {
  color: var(--mainColor);
}

.contactImage {
  width: 180px;
  background-color: var(--secondMainColor);
}

.contactBox {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: var(--mainColor);
  /* height: 50vh; */
  margin-bottom: 9em;
  color: var(--textColorPrimary);
}

.contactIcons {
  background-color: transparent;
  border: 2px solid var(--secondMainColor);
}

.contactIcons iconify-icon {
  color: var(--textColorPrimary);
}

.contactInput {
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 3.2em;
  padding-left: 3em;
  width: 90%;
  border-bottom: 1px solid var(--secondMainColor);
  color: var(--textColorPrimary);
}

.contactInput::placeholder {
  color: var(--textColorPrimary);
}

.contactInputIcon {
  position: absolute;
  font-size: 2em;
  bottom: 0;
}

.sendBtn {
  margin-top: 3.2em;
}

.sendBtn button {
  width: 150px;
  background-color: var(--secondMainColor);
  border-radius: 10px;
  border: 2px solid var(--secondMainColor);
  color: var(--mainColor);
  font-weight: bold;
  transition: all 0.5s;
}

.sendBtn button a {
  color: var(--mainColor);
}

.stockbtn {
  width: 5.4em;
  height: 2.3em;
  background-color: var(--mainColor);
  color: var(--secondMainColor);
  border: 2px solid var(--mainColor);
  border-radius: 0.2em;
  transition: all 0.3s;
}

.topi {
  margin: 0.3em 0.2em 0.3em 0.2em;
  font-size: 1.2em;
}

.number {
  margin: 0.1em 0.3em 0.2em 0.3em;
  font-size: 1.4em;
}

.downi {
  margin: 0.3em 0.2em 0.3em 0.2em;
  font-size: 1.2em;
}

.stockbtn:hover {
  background-color: transparent;
  color: var(--mainColor);
}

.sendBtn button:hover {
  background-color: transparent;
  color: var(--secondMainColor);
}

.sendBtn button a:hover {
  color: var(--secondMainColor);
}

.nextline {
  width: 80%;
  height: 1px;
  border: 1px solid var(--mainColor);
  box-shadow: var(--sideBarShadow);
  margin-left: 5em;
}

.btn_text {
  width: 12em;
  height: 2em;
  background-color: var(--mainColor);
  border-radius: 17em;
  color: var(--secondMainColor);
  font-size: var(--paragraphFontSize);
  border: 2px solid var(--mainColor);
  transition: 0.5s ease;
}

.btn_text:hover {
  background-color: var(--secondMainColor);
  color: var(--mainColor);
  transform: scale(1.2);
}

.part1 {
  width: 24em;
  height: 24em;
}

.part1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .contactBox {
    width: 100% !important;
  }

  .subTitle {
    width: 50% !important;
  }
}

@media screen and (max-width: 720px) {
  .card {
    margin: 5em 3em 3em 6em;
  }

  .seeall {
    bottom: 0em;
  }

  .stockbtn {
    width: 3.5em;
    height: 1.8em;
  }

  .minibox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blogcard {
    width: 20em;
    height: auto;
    background-color: transparent;
    border-radius: 0.5em;
    transition: all 1s;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .box1 {
    margin-bottom: 2em;
  }
}