* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../img/waveback.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    display: flex;
    width: 25em;
    height: 35em;
    background-color: var(--backgroundTertiary);
    border-radius: 12px;
    margin-top: 3em;
}

@media screen and (max-width: 720px) {
    .card {
        display: flex;
        justify-content: center;
        width: 20em;
        height: auto;
        background-color: var(--backgroundTertiary);
        border-radius: 12px;
    }
}

.first {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    flex-direction: column;
}

.slideBall {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border-style: none;
    background-color: var(--backgroundPrimary);
    border: 2px solid var(--mainColor);
}

.activecircle {
    background-color: var(--mainColor);
}

.line {
    width: 22em;
    border: 1px solid var(--textColorSecondary);
    margin-left: 1.8em;
    margin-top: 0.8em;
}

@media screen and (max-width:720px) {

    .line {
        width: 17em;
        border: 1px solid var(--textColorSecondary);
        margin-left: 1.8em;
        margin-top: 0.8em;
    }
}

.third {
    display: flex;
    justify-content: space-between;
}

.phone {
    width: 22em;
    height: 2.5em;
    padding-left: 1em;
    font-size: var(--paragraphFontSize);
    border: 2px solid var(--mainColor);
    border-radius: 0.2em;
}

@media screen and (max-width:720px) {
    .phone {
        width: 17em;
        height: 2.5em;
        padding-left: 1em;
    }
}

.fouth {
    display: flex;
    justify-content: space-between;
}

.otpBtn button {
    width: 6em;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    color: var(--secondMainColor);
    font-weight: bold;
    transition: all 0.5s;
}

.otpBtn button:hover {
    background-color: transparent;
    color: var(--mainColor);
}

.pas {
    width: 12em;
    border: 2px solid var(--mainColor);
    border-radius: 0.2em;
    padding-left: 1em;
}

@media screen and (max-width:720px) {
    .otpBtn button {
        width: 5em;
    }

    .fouth {
        justify-content: space-between;
    }

    .pas {
        width: 10em;
        padding-left: 0.2em;
    }
}

.text {
    font-size: var(--minisubtitleFontSize);
    opacity: 0.7;
}


.comBtn {
    margin-top: 1em;
}

.comBtn button {
    width: 150px;
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 2px solid var(--mainColor);
    color: var(--secondMainColor);
    font-weight: bold;
    transition: all 0.5s;
}

.comBtn button:hover {
    background-color: transparent;
    color: var(--mainColor);
}

@media screen and (max-width: 720px) {
    .comBtn {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}