* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../img/waveback.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    display: flex;
    width: 25em;
    height: auto;
    background-color: var(--backgroundTertiary);
    border-radius: 12px;
    margin-top: 3em;
}

@media screen and (max-width: 720px) {
    .card {
        display: flex;
        justify-content: center;
        width: 20em;
        height: auto;
        background-color: var(--backgroundTertiary);
        border-radius: 12px;
    }
}

.first {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    flex-direction: column;
}

.slideBall {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border-style: none;
    background-color: var(--backgroundPrimary);
    border: 2px solid var(--mainColor);
}

.activecircle {
    background-color: var(--mainColor);
}

.line {
    width: 22em;
    border: 1px solid var(--textColorSecondary);
    margin-left: 1.8em;
    margin-top: 0.8em;
}

@media screen and (max-width:720px) {

    .line {
        width: 17em;
        border: 1px solid var(--textColorSecondary);
        margin-left: 2em;
        margin-top: 0.8em;
    }
}


.text1 {
    font-size: var(--paragraphFontSize);
}

.text2 {
    font-size: var(--paragraphFontSize);
    color: var(--mainColor);
}

.comBtn {
    margin-top: 2em;
}

.comBtn button {
    width: 17em;
    background-color: var(--mainColor);
    border-radius: 10px;
    border: 2px solid var(--mainColor);
    color: var(--secondMainColor);
    font-weight: bold;
    transition: all 0.5s;
}

.comBtn button:hover {
    background-color: transparent;
    color: var(--mainColor);
}

@media screen and (max-width: 720px) {
    .comBtn {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}

.btncircle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circles {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border-style: none;
    background-color: var(--backgroundPrimary);
    display: flex;
}

.tbl {
    box-sizing: content-box;
    border: 1px solid gray;
    outline: none;
    font-size: 1.5em;
}

.icondel {
    font-size: 0.7em;
}