.navBar h1:nth-child(1) a {
  color: var(--mainColor);
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .navBar h1:nth-child(1) a {
    color: var(--secondMainColor);
    font-weight: bold;
  }
}
.paymentBox{
    width: 60px;
    padding: 0.4em;
}
.paymentTextBox{
    width: 200px;
    padding: 0.4em;
}
#acceptImage{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#upload{
  color: var(--mainColor);
}