.navBar h1:nth-child(1) {
    color: var(--mainColor);
    font-weight: bold;
  }
  @media screen and (max-width: 700px) {
    .navBar h1:nth-child(1) {
      color: var(--secondMainColor);
      font-weight: bold;
    }
  }