.navBar h1:nth-child(6) {
    color: var(--mainColor);
    font-weight: bold;
  }
  @media screen and (max-width: 700px) {
    .navBar h1:nth-child(6) {
      color: var(--secondMainColor);
      font-weight: bold;
    }
  }

  .sliderTitle{
    padding: 0.2em;
    background-color: var(--mainColor);
    border-radius: 10px;
    color: var(--textColorPrimary);
    width: 130px !important;
    text-align: center;
    margin-bottom: 1em;
  }

